.AddTaskForm {
    margin-bottom: 50px;
}
.input {
    margin-right: 25px;
    max-width: 500px;
    width: 100%;
    height: 25px;
}
.btn {
    display: inline-block;
    height: 33px;
    width: 50px;
    background: #eee;
    border: 1px solid #000;
    border-radius: 5px;
}